body{
    text-align: center;
    background-color: #faebd7;
}
.head{
    background-color: black;
    color: antiquewhite;
    
    padding: 0.50rem 1rem;
    text-align: right;

}
.head h1{
    -webkit-text-stroke: 1px red;
    font-size: 3rem;
    font-weight: 900;
    margin: 1% 0;
}
nav{
    background-color: bisque;
    margin-top: revert;
}
a{
    background-color: white;
    padding: 1rem;
    width: 20rem;
    border: 1px solid red;
    text-decoration: none;
    color: black;
    border-radius: 0.50rem;
}
a:hover{
    background-color: red;
    color: white;
}
#products{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 10%;
}

.box{
    width: 30%;
    margin: 1rem;
    background-color: #fffcf8;
    padding: 1.25rem;
    box-shadow: 0.50rem 0.50rem 0.50rem darkgray;
    border-radius: 0.25rem;
}
.box img{
    border: 1px solid red;
    border-radius: 0.25rem;
}
footer{
    background-color: brown;
    margin-bottom: 0px;
    padding-bottom: 3rem;
    padding-top: 2rem;
    color: #faebd7;
    font-weight: 800;
    border-top: 2px solid black;
}